body{font-family:'Open Sans', sans-serif;}
ul, li{list-style: none;}
.common-row{padding: 50px 0;}
.header{min-height: 100px;}
.logo{margin: 10px 0;}
.logo-anc{width:226px;height:80px;display:block;font-size:20px;color:#333;line-height:50px;text-transform:uppercase;text-indent: -9999px; background: url(../img/logo.png) 0 0 no-repeat;background-size: 100%;}
.navigation{background-color:#20457c;height:50px;text-transform:uppercase;transition: all 1s ease;}
.navigation-ul{padding:0;margin-bottom: 0;}
.navigation-li{position:relative;height:50px;display:inline-block;}
.navigation-anc{position:relative;font-size:16px;line-height:50px;height:inherit;color:#fff;padding:0 30px;display:block;transform: perspective(1px) translateZ(0);}
.navigation-anc:after{content:'';position:absolute;left:50%;right:50%;height:4px;bottom:0;background:#fff;-webkit-transition-property: left, right; -moz-transition-property: left, right;transition-property: left, right;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-moz-transition-duration: 0.3s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.navigation-anc:hover, .navigation-anc:focus{text-decoration:none;color:#fff;outline: none;}
.navigation-anc:hover:after{left:0;right:0;}
.banner{overflow:hidden;z-index: 0;}
.banner-slides{display: none;}
.banner-slides.slick-initialized{display: block;}
.slick-dotted.slick-slider{margin-bottom: 0;}
.slick-slide{position: relative;}
.slick-slide img{width:100%;height:auto;}
.banner-slides .slick-dots{bottom: 15px;}
.banner-slides .slick-dots li button:before{font-size: 12px;opacity: 1;color: #fff;}
.banner-slides .slick-dots li.slick-active button:before{opacity: 1;color: #3a9ad9;}
.slider-textOverlay{position: absolute;top: 50px;right: 20px;width: 30%;height: 150px; background-color: #fff;opacity: 0;transition: all 1s ease;}
.slider-textWrap{position: relative;top: 50%;transform: translateY(-50%);}
.slider-textTitle{color: #000;font-size: 36px;line-height: 150px;height: 150px;font-weight: 600;text-transform: uppercase;margin: 0;}
.slick-active .slider-textOverlay{top: 150px;opacity: 0.8;}
.slick-prev, .slick-next{display: none!important;}

.aboutUs{padding-right:100px;padding-left: 100px;}
.aboutUs-title, .blogs-mainTitle{color: #3a9ad9;font-size: 26px;line-height: 34px;height: 34px;font-weight: 600;margin-bottom: 30px;}	
.aboutUs-desc{color: #333;font-size: 15px;line-height: 28px;}
.services-outerDiv{background-color:#3a9ad9;}
.services-mainTitle{color: #fff;font-size: 26px;line-height: 34px;height: 34px;font-weight: 600;margin-bottom: 20px;}
.services{padding-top: 20px;padding-bottom: 20px;}
.services-title{color: #fff;font-size: 18px;line-height: 22px;font-weight: 600;margin: 20px 0;text-transform: uppercase;}
.services-desc{color: #fff;font-size: 13px;line-height: 22px;max-height: 88px;overflow: hidden;}
.icon-wrap{padding: 10px;background: #fff;display:inline-block;margin: 0 auto;border-radius: 4px;border-radius: 50%;}
.icons{transition: 0.5s linear; color: #20457c;}
.services:hover .icons{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);transform: rotate(90deg);}

.testimonial-div{position: relative; background-image: url(../img/testimonial.jpg);background-size: cover;background-attachment: fixed;background-position: center;text-align: center;}
.testimonial-div .slick-list{margin: 0 50px;}
.testimonial-div .slick-dots{bottom: -55px;}
.testimonial-div .slick-dots li button:before{font-size: 12px;opacity: 1;color: #fff;}
.testimonial-div .slick-dots li.slick-active button:before{opacity: 1;color: #3a9ad9;}
.testimonial-text{color: #fff;font-size: 21px;line-height: 28px;font-style: italic;word-wrap: break-word;}
.testimonial-div .slick-dotted.slick-slider{margin: 50px 0;}
.testimonial-slider:before{content: "\f10d";font-family: FontAwesome;position: absolute;top: 50%;left: 15px;color: #fff;transform: translateY(-50%);font-size: 25px;}
.testimonial-slider:after{content: "\f10e";font-family: FontAwesome;position: absolute;top: 50%;right: 15px;color: #fff;transform: translateY(-50%);font-size: 25px;}

.blogs-imgDiv{height: 170px;overflow: hidden;}
.blog-img{width: 100%;height: auto;transition: all 0.5s linear;z-index: 0;}
.blogs-content{margin: -40px 10px 0px;padding: 0 10px 20px;background: #fff; z-index: 1;position: relative;box-shadow: 1px 4px 17px -4px #aaa;}
.blogs-title{color: #333;font-size: 18px;line-height: 22px;font-weight: 600;text-transform: uppercase;margin: 20px 0;}
.blogs-desc{color: #333;font-size: 13px;line-height: 22px;max-height: 88px;overflow: hidden;}
.blogs-anchor:hover{text-decoration: none;}
.blogs-anchor:hover .blogs-content{box-shadow: 1px 10px 17px -4px #aaa;}
.blogs-anchor:hover .blog-img{transform: scale(1.1);}

.contactUs-outerDiv{background-image: url(../img/contact.jpg);background-size: cover;background-attachment: fixed;background-position: center;text-align: center;}
.contactUs-title{color: #fff;font-size: 26px;line-height: 34px;height: 34px;font-weight: 600;margin-bottom: 20px;}
.address-title{color: #fff;font-size: 18px;line-height: 22px;font-weight: 600;margin-bottom: 10px;text-transform: uppercase;text-align: left;}
.address-text{color: #fff;font-size: 13px;line-height: 20px;max-height: 80px; text-align: left;}
.address-text-anchor{color: #fff;display: block;}
.address-text-anchor:first-child{margin-bottom: 10px;}
.address-icons{margin-right: 10px;}
.address-text-anchor:hover{text-decoration: none;color: #3a9ad9;}

.footer-title{color: #333;font-size: 18px;line-height: 22px;font-weight: 600;text-transform: uppercase;margin: 20px 0;}
.footer-text{font-size: 13px;line-height: 22px;}
.footer-blog-text{font-size: 13px;line-height: 26px; padding: 0;margin: 0;}
.footer-blog-text a{color: #333;height: 26px;overflow: hidden;}
.social-icons{display: inline-block;margin-bottom: 0;}
.social-icons a{color: #333;margin-left: 15px;}
.social-icons a:first-child{margin-left: 0;}
.social-icons a:first-child:hover{color: #3B5998;}
.social-icons a:nth-child(2):hover{color: #1DA1F2;}
.social-icons a:nth-child(3):hover{color: #DB4437;}
.footer-outerDiv{padding: 20px 0;background: #20457c;text-align: center;}
.copyright-text{font-size: 12px;line-height: 18px;height: 18px;color: #fff;margin-bottom: 0;}

.hamburger, .cross{display: none;}
.hamburger{position: relative; width: 40px;height: 50px;background-color: #fff;color: #000;padding: 0;border: 0;float: right;}
.cross{position: relative; width: 40px;height: 50px;background-color: #fff;color: #000;padding: 0;border: 0;font-size: 50px;float: right;}
.sticky-navbar {position: fixed; top: 0; left: 0; width: 100%; z-index: 3;}
.sticky-logo{position: fixed; top: 0px; background: #fff; z-index: 4; box-shadow: 1px 1px 3px #333;margin: 0;}
.sticky-logo .logo-anc{width: 155px;height: 55px;margin: 5px 0;}
.scroll_animate{animation: slideup 1s forwards; opacity: 0;}
@keyframes slideup {from {opacity: 0;transform: translateY(40px);} to {opacity: 1;transform: translateY(0);}}

@media only screen and (max-width:1024px){
    .sticky-logo .logo-anc{width: 119px;height: 45px;margin: 5px 0 0;}
    .mobNav{position: absolute;top: 100%; left: 0;right: 0;z-index: 1;background-color: #fff; text-align: left;box-shadow: 1px 4px 17px -4px #aaa;display: none;}
    .hamburger{display: block;}
    .mobNav li{display: block;}
    .navigation-anc{color: #000;}
    .navigation-anc:hover{color:#3a9ad9;}
    .slider-textOverlay{display: none;}
    .inner-blogsDiv{margin-bottom: 30px;}
}
@media only screen and (max-width:767px){
    .address-text{margin-bottom: 30px;}
}
@media only screen and (max-width:599px){
    .header {min-height: 75px;}
    .logo-anc{width: 155px;height: 55px;}
    .aboutUs-title, .blogs-mainTitle, .services-mainTitle, .contactUs-title{font-size: 22px;}
    .aboutUs-desc{font-size: 13px;}
    .aboutUs{padding-left: 20px;padding-right: 20px;}
    .testimonial-text{font-size: 16px;}
}